/.idea/
*.pyc
/config/environment.py
/var/
/virtualenv/
/src/
/media/static/
/config/includes/_20_credentials.py
/.project
/deployment/ansible/*.retry
/deployment/ansible/group_vars/all/secrets.yml
/.coverage
/htmlcov/
