# -*- coding: utf-8 -*-

# DATABASE
DB_NAME = "{{ app_db_name }}"
DB_USER = "postgres"
DB_PASSWORD = "{{ app_db_password }}"
DB_HOST = "{{ hostvars['appdb-1.spotified.403.io'].lan_ip }}"
DB_PORT = "5432"

SPOTIFY_API_CLIENT_ID = "{{ spotify_api_client_id }}"
SPOTIFY_API_CLIENT_SECRET = "{{ spotify_api_client_secret }}"

# SENTRY
#RAVEN_DSN = 'https://TBD:TBD@sentry.io/TBD'
