[Unit]
Description=gunicorn daemon for {{ project_name }}.%I
After=network.target

[Service]
    PIDFile={{ app_home }}/gunicorn.pid
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}
ExecStart={{ venv_dir }}/bin/gunicorn \
          -b unix://{{ app_home }}/gunicorn.sock \
          -p {{ app_home }}/gunicorn.pid \
          -w {{ ansible_processor_vcpus + 1 }} \
          {{ app_wsgi }}

[Install]
WantedBy=multi-user.target